* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Jost", sans-serif;
}

:root {
  --primary-color: #009f4d;
}
a {
  outline: none;
  text-decoration: none !important;
}
/* animation root  */

/* This changes all the animations globally */
:root {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}

/* end animation root */

/* start header  */
.header {
  border-bottom: 1px solid rgba(231, 231, 231, 0.18);
  background-color: transparent;
  /* background-color: white; */
  transition: all 0.5s;
}
.container-fluid {
  width: 80%;
  /* width: 78.9239%; */
  padding: 0;
}
.navbar {
  height: 100px;
  transition: all 0.5s;
}
.navbar-brand {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  margin-right: 0;
  text-align: left;
}
.navbar-brand .logo {
  display: block;
  padding-left: 46px;
  font-size: 14px;
  opacity: 0.9;
}
.navbar-brand .fa {
  color: var(--primary-color);
  vertical-align: bottom;
}
.search {
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  background-color: var(--primary-color);
  text-align: center;
  margin-right: 1rem;
  cursor: pointer;
}
.search i {
  color: white;
  font-size: 14px;
}
.moon {
  cursor: pointer;
}
.moon i {
  color: #eee;
  transform: rotate(-15deg);
  font-size: 1.5rem;
}

.navbar-light .navbar-brand {
  color: #fff;
}
.bi.bi-list {
  color: wheat;
  font-size: 20px;
  padding: 0px;
  color: #fff;
  line-height: 25px;
  border-radius: 0.25rem;
  -webkit-text-stroke: 1px white;
}
.navbar-toggler {
  background-color: var(--primary-color);
}

.navbar-expand-lg .navbar-nav .active .nav-link {
  color: #fff;
  opacity: 1;
}
.navbar-expand-lg .navbar-nav .nav-link {
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.8;
  transition: all 0.5s;
  font-size: 15px;
  font-weight: 600;
  padding: 14px 0 10px;
}
.navbar-expand-lg .navbar-nav .nav-item {
  padding: 0px 12px;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  opacity: 1;
  color: #ffffff;
}
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: #fff;
}
.dropdown-item {
  text-transform: uppercase;
  font-size: 15px;
  padding: 6px 20px;
  color: #3f3a64;
  opacity: 0.8;
  font-weight: 600;
}

/* end header  */

/* start carousel  */

.carousel img {
  width: 100%;
  height: 800px;
  display: block;
  object-fit: cover;
  object-position: top;
  z-index: 1;
  background-repeat: no-repeat;
}
.carousel__item {
  width: 100%;
  height: 100%;
}
.carousel-wraper {
  position: relative;
  width: 100%;
  height: 100%;
}
.carousel {
  position: relative;
  width: 100%;

  /* overflow-y: hidden; */
}
.opacity {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(29, 42, 55, 0.7);
}
.shape {
  position: absolute;
  left: 0;
  bottom: 0px;
  z-index: 10;
  width: 100%;
}
path {
  fill: #fff;
}
.carousel__button {
  position: absolute;
  bottom: 42px;
  right: 1rem;
  z-index: 1000;
  /* bottom: 50px; */
}
.prev,
.next {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 0 15px rgb(0 0 0 / 12%);
  border: none;
  background-color: #fff;
  outline: none;
  text-align: center;
  margin: 0.5rem;
  border: 1px solid transparent;
}
.prev i,
.next i {
  -webkit-text-stroke: 1px;
}
button:focus {
  outline: none;
}
.carousel__item__content {
  position: absolute;
  top: 30%;
  left: calc(10% + 16px);
}
.carousel__item__content h1 {
  font-size: 65px;
  line-height: 1.1;
  margin-bottom: 18px;
  max-width: 800px;
  font-weight: 600;
  color: #ffffff;
}
.carousel__item__content p {
  font-size: 20px;
  line-height: 30px;
  max-width: 600px;
  color: #fff;
  letter-spacing: 0.01em;
  opacity: 0.9;
  margin: 24px 0 0px;
}
.carousel__item__content button {
  padding: 15px 50px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  border-radius: 0.5rem;
  background-color: #00a63f;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 10000;
  margin-top: 30px;
}
.carousel__item__content button:hover{
  color: #fff;
  background-color: #008030;
  border-color: #00732c;
}
/* end carousel  */

/* start about  */
.about {
  padding: 48px 16px;
}
.about__left {
  /* margin-left: 1rem; */
}
.span {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 1px;
  color: #7e7d7d;
  display: block;
}
.p {
  font-size: 17px;
  line-height: 27px;
  color: #666;
  opacity: 0.8;
  margin-top: 1.5rem;
}
.h1 {
  color: #3f3a64;
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.about__left ul {
  list-style: none;
  margin-top: 1.5rem;
  padding-top: 0.5rem;
}
.about__left ul li {
  margin-bottom: 1rem;
}
.about__left ul li a {
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  color: #3f3a64;
}
.about__left ul li a span {
  margin-right: 5px;
  opacity: 0.8;
  color: var(--primary-color);
}
.about__right img {
  width: 100%;
  border-radius: 0.5rem;
}

/* end about  */

/* start product  */
.product {
  padding: 48px 16px;
  background-color: #f7f7f7;
}
.product__button {
  margin-top: 2rem;
  padding: 15px 50px;
  color: #ffffff;
  font-size: 1rem;
  background-color: #00a63f;
  outline: none;
  line-height: 18px;
  font-weight: 600;
  border: 1px solid transparent;
  border-radius: 0.5rem;
}
button {
  transition: all 0.5s;
}
.product__button:hover {
  color: #fff;
  background-color: #008030;
  border-color: #00732c;
}
.product__card {
  padding: 40px 30px;
  border-radius: 0.5rem;
  text-align: center;
  box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
  background-color: #fff;
  transition: 0.3s all;
}
.product__card:nth-of-type(1) {
  margin-bottom: 25px;
}
.product__card:hover {
  transform: translateY(-0.25rem);
  box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
}
.product__icon {
  max-width: 65px;
  display: block;
  margin: 0 auto;
}
.product__title {
  font-size: 22px;
  line-height: 28px;
  font-weight: 600;
  margin-top: 25px;
  display: block;
  color: #3f3a64;
}
.product__title:hover {
  color: var(--primary-color);
}

/* end product  */

/* start services  */
.services {
  padding: 48px 16px;
}
.services__image img {
  display: block;
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
}
.services__image {
  position: relative;
}
.services__title {
  display: inline-block;
  font-size: 19px;
  line-height: 28px;
  font-weight: 600;
  color: #3f3a64;
  background-color: #fff;
  padding: 12px 35px;
  border: 1px solid transparent;
  box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
  transform: translateY(-50%);
  cursor: pointer;
}
.services__title:hover {
  color: #009f4d !important;
}
.services__content p {
  margin-top: -10px;
  font-size: 17px;
  line-height: 27px;
  color: #666;
  opacity: 0.8;
}
.services__content a:last-child {
  padding: 8px 35px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 600;
  color: #3f3a64;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  display: block;
}
.services__content a:last-child:hover {
  color: #009f4d !important;
}
/* end services  */

/* reponsive  */
@media only screen and (max-width: 1200px) {
  .container-fluid {
    width: 95%;
  }
  .carousel__item__content {
    position: absolute;
    top: 30%;
    left: calc(2.5% + 16px);
  }
}
@media only screen and (max-width: 576px) {
  * {
    font-size: 14px;
  }
  .carousel img {
    height: 65vh;
  }
  .carousel__item__content h1 {
    font-size: 28px;
    line-height: 1.2;
  }
  .carousel__item__content p {
    font-size: 18px;
  }
  .carousel__item__content button {
    font-size: 16px;
    padding: 12px 30px;
    margin-top: 30px;
  }
  .carousel__item__content {
    position: absolute;
    top: 30%;
    left: 1rem;
  }
  .carousel__item__content {
    position: absolute;
    top: 30%;
    left: calc(2.5% + 16px);
  }
}

/* end reponsive  */
