* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Jost", sans-serif;
}

:root {
  --primary-color: #009f4d;
}
a {
  outline: none;
  text-decoration: none !important;
}
/* animation root  */

/* This changes all the animations globally */
:root {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}

/* end animation root */

/* start header  */
.header {
  border-bottom: 1px solid rgba(231, 231, 231, 0.18);
  background-color: transparent;
  transition: all 0.5s;
}
.container-fluid {
  width: 80%;
  padding: 0;
}
.navbar {
  height: 100px;
  transition: all 0.5s;
  position: relative;
}
.navbar-brand {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  margin-right: 0;
  text-align: left;
}
.navbar-brand .logo {
  display: block;
  padding-left: 46px;
  font-size: 14px;
  opacity: 0.9;
}
.navbar-brand .fa {
  color: var(--primary-color);
  vertical-align: bottom;
}
.search {
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  background-color: var(--primary-color);
  text-align: center;
  margin-right: 1rem;
  cursor: pointer;
}
.search i {
  color: white;
  font-size: 14px;
}
.moon {
  cursor: pointer;
}
.moon i {
  color: #eee;
  transform: rotate(-15deg);
  font-size: 1.5rem;
}

.navbar-light .navbar-brand {
  color: #fff;
}
.bi.bi-list {
  color: wheat;
  font-size: 20px;
  padding: 0px;
  color: #fff;
  line-height: 25px;
  border-radius: 0.25rem;
  -webkit-text-stroke: 1px white;
}
.navbar-toggler {
  background-color: var(--primary-color);
}

.navbar-expand-lg .navbar-nav .active .nav-link {
  color: #fff;
  opacity: 1;
}
.navbar-expand-lg .navbar-nav .nav-link {
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.8;
  transition: all 0.5s;
  font-size: 15px;
  font-weight: 600;
  padding: 14px 0 10px;
}
.navbar-expand-lg .navbar-nav .nav-item {
  padding: 0px 12px;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  opacity: 1;
  color: #ffffff;
}
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: #fff;
}
.navbar-nav .dropdown-menu {
  background-color: white;
}
.dropdown-item {
  text-transform: uppercase;
  font-size: 15px;
  padding: 6px 20px;
  color: #3f3a64;
  opacity: 0.8;
  font-weight: 600;
}
.navbar-collapse {
  display: flex;
  justify-content: center;
}
.show {
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
.icon-close {
  color: white;
}
.collapse:not(.show) {
  display: none;
}

.navbar .navbar-toggler .icon-close {
  display: block;
}
.navbar .navbar-toggler.collapsed .icon-close {
  display: none;
}

.navbar .navbar-toggler:not(.collapsed) .bi.bi-list {
  display: none;
}
.navbar .navbar-toggler.collapsed .bi.bi-list {
  display: block;
}

/* end header  */

/* start carousel  */

.carousel img {
  width: 100%;
  height: 800px;
  display: block;
  object-fit: cover;
  object-position: top;
  z-index: 1;
  background-repeat: no-repeat;
}
.carousel__item {
  width: 100%;
  height: 100%;
}
.carousel-wraper {
  position: relative;
  width: 100%;
  height: 100%;
}
.carousel {
  position: relative;
  width: 100%;

  /* overflow-y: hidden; */
}
.opacity {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(29, 42, 55, 0.7);
}
.shape {
  position: absolute;
  left: 0;
  bottom: 0px;
  z-index: 10;
  width: 100%;
}
path {
  fill: #fff;
}
.carousel__button {
  position: absolute;
  bottom: 42px;
  right: 1rem;
  z-index: 1000;
}
.prev,
.next {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 0 15px rgb(0 0 0 / 12%);
  border: none;
  background-color: #fff;
  outline: none;
  text-align: center;
  margin: 0.5rem;
  border: 1px solid transparent;
}
.prev i,
.next i {
  -webkit-text-stroke: 1px;
}
button:focus {
  outline: none;
}
.carousel__item__content {
  position: absolute;
  top: 30%;
  left: calc(10% + 16px);
}
.carousel__item__content h1 {
  font-size: 65px;
  line-height: 1.1;
  margin-bottom: 18px;
  max-width: 800px;
  font-weight: 600;
  color: #ffffff;
}
.carousel__item__content p {
  font-size: 20px;
  line-height: 30px;
  max-width: 600px;
  color: #fff;
  letter-spacing: 0.01em;
  opacity: 0.9;
  margin: 24px 0 0px;
}
.carousel__item__content button {
  padding: 15px 50px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  border-radius: 0.5rem;
  background-color: #00a63f;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 10000;
  margin-top: 30px;
}
.carousel__item__content button:hover {
  color: #fff;
  background-color: #008030;
  border-color: #00732c;
}
/* end carousel  */

/* start about  */
.about {
  padding: 48px 16px;
}

.span {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 1px;
  color: #7e7d7d;
  display: block;
}
.p {
  font-size: 17px;
  line-height: 27px;
  color: #666;
  opacity: 0.8;
  margin-top: 1.5rem;
}
.h1 {
  color: #3f3a64;
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.about__left ul {
  list-style: none;
  margin-top: 1.5rem;
  padding-top: 0.5rem;
}
.about__left ul li {
  margin-bottom: 1rem;
}
.about__left ul li a {
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  color: #3f3a64;
}
.about__left ul li a span {
  margin-right: 5px;
  opacity: 0.8;
  color: var(--primary-color);
}
.about__right img {
  width: 100%;
  border-radius: 0.5rem;
}

/* end about  */

/* start product  */
.product {
  padding: 48px 16px;
  background-color: #f7f7f7;
}
.product__button {
  margin-top: 2rem;
  padding: 15px 50px;
  color: #ffffff;
  font-size: 1rem;
  background-color: #00a63f;
  outline: none;
  line-height: 18px;
  font-weight: 600;
  border: 1px solid transparent;
  border-radius: 0.5rem;
}
button {
  transition: all 0.5s;
}
.product__button:hover {
  color: #fff;
  background-color: #008030;
  border-color: #00732c;
}
.product__card {
  padding: 40px 30px;
  border-radius: 0.5rem;
  text-align: center;
  box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
  background-color: #fff;
  transition: 0.3s all;
  height: 100%;
  /* height: 100%; */
}
.product__right > .row {
  margin-bottom: 25px;
}

.product__card:hover {
  transform: translateY(-0.25rem);
  box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
}
.product__icon {
  max-width: 65px;
  display: block;
  margin: 0 auto;
}
.product__icon img {
  width: 100%;
}
.product__title {
  font-size: 22px;
  line-height: 28px;
  font-weight: 600;
  margin-top: 25px;
  display: block;
  color: #3f3a64;
}
.product__title:hover {
  color: var(--primary-color);
}

/* end product  */

/* start services  */
.services {
  padding: 48px 16px;
}
.services__image img {
  display: block;
  width: 100%;
  border-radius: 8px 8px 0 0;
}
.services__image {
  position: relative;
  cursor: pointer;
}
.services__title {
  display: inline-block;
  font-size: 19px;
  line-height: 28px;
  font-weight: 600;
  color: #3f3a64;
  background-color: #fff;
  padding: 12px 35px;
  border: 1px solid transparent;
  box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
  transform: translateY(-50%);
  cursor: pointer;
  border-radius: 0.5rem;
  transition: all 0.5s;
}
.services__content p {
  margin-top: -10px;
  font-size: 17px;
  line-height: 27px;
  color: #666;
  opacity: 0.8;
}
.services__content a:last-child {
  padding: 8px 35px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 600;
  color: #3f3a64;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  display: block;
  transition: all 0.5s;
}
.services__content a:last-child:hover {
  color: #009f4d !important;
}
.services__card:hover.services__card > .services__content > .services__title {
  color: #009f4d !important;
}

/* end services  */

/* start gallery  */
.gallery {
  padding: 48px 16px;
  background-color: #f8f9fa;
}
.project__card img {
  width: 100%;
  display: block;
  transition: all 0.5s;
}
.project__card {
  position: relative;
  overflow: hidden;
  flex: 0 0 calc(100% / 3 - 30px);
  padding: 0;
  margin: 0 15px;
}
.card__content {
  position: absolute;
  left: 10%;
  bottom: -100%;
  transition: 0.5s all;
  text-align: left;
  padding-right: 20px;
  z-index: 2;
}
.project__card:hover .card__content {
  bottom: 10%;
}
.project__card:hover img {
  transform: scale(1.1);
  transition: all 0.5s;
}
.card__content h4 {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 10px;
}
.card__content p {
  font-size: 18px;
  color: #eee;
  display: block;
}
.project__card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(29, 42, 55, 0.7);
  opacity: 0;
  transition: all 0.5s;
}
.project__card:hover::after {
  opacity: 1;
}
.gallery__icon {
  border-top: 1px solid #eee;
}
.gallery__icon img {
  width: 100%;
  display: block;
  padding: 0 18px;
}

/* end gallery  */

/* reponsive  */
@media only screen and (min-width: 1200px) {
}
@media only screen and (max-width: 1200px) {
  .container-fluid {
    width: 95%;
  }
  .carousel__item__content {
    position: absolute;
    top: 30%;
    left: calc(2.5% + 16px);
  }
  .project__card {
    flex: 0 0 calc(100% / 2 - 30px);
  }
  .show .form-inline {
    right: calc(2.5% + 100px);
  }
}
@media only screen and (min-width: 992px) {
  .dropdown-item {
    text-transform: uppercase;
    font-size: 15px;
    padding: 6px 20px;
    color: #3f3a64 !important;
    opacity: 0.8;
    font-weight: 600;
  }
  .show {
    background-color: transparent;
  }
  .navbar-collapse {
    margin-top: 0px !important;
    transition: all 0.5s;
    background-color: transparent !important;
  }
}
@media only screen and (max-width: 991px) {
  .navbar-nav {
    width: 80%;
    text-align: center;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    background-color: transparent;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.63);
  }
  .dropdown-item{
    padding: 6px 20px;
    width: 50%;
    display:block;
    transition: all 0.3s;
    margin:0 auto;
  }
  .dropdown-item:hover{
    background-color: rgba(238, 238, 238, 0.473);
  }
  .search {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  .navbar-collapse ul li a {
    color: white;
  }
  .show .form-inline {
    /* display: none; */
    position: absolute;
    top: 40px;
    right: calc(2.5% + 100px);
  }
  .navbar-collapse {
    margin-top: 30px;
    transition: all 0.5s;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 100vw;
    padding-top: 100px;
    top: -50%;
    left: calc(-2.5%);
    z-index: -1;
  }
}

@media only screen and (max-width: 768px) {
  .container-fluid {
    width: 80%;
  }
  .show .form-inline {
    right: calc(10% + 100px);
  }
  .carousel img {
    height: 720px;
  }
  .carousel__item__content {
    position: absolute;
    top: 30%;
    left: calc(10% + 16px);
    padding-right: calc(10% + 16px) !important;
  }
  .carousel__item__content h1 {
    font-size: 45px;
    line-height: 1.2;
  }
  .carousel__item__content p {
    font-size: 18px;
  }
  .project__card {
    flex: 0 0 calc(100% - 30px);
  }
  .navbar-collapse {
    top: -50%;
    left: calc(-10% - 16px);
  }
}
@media only screen and (max-width: 576px) {
  .container-fluid {
    width: 95%;
  }
  .show .form-inline {
    right: calc(2.5% + 100px);
  }
  .navbar-collapse {
    top: -50%;
    left: calc(-2.5%);
  }
  * {
    font-size: 14px;
  }
  .carousel img {
    height: 65vh;
  }
  .carousel__item__content h1 {
    font-size: 28px;
    line-height: 1.2;
  }
  .carousel__item__content p {
    font-size: 18px;
  }
  .carousel__item__content button {
    font-size: 16px;
    padding: 12px 30px;
    margin-top: 30px;
  }
  .carousel__item__content {
    position: absolute;
    top: 30%;
    left: 16px;
    padding-right: calc(2.5% + 16px) !important;
  }
  .carousel__item__content {
    position: absolute;
    top: 30%;
    left: calc(2.5% + 16px);
  }
  .product__title {
    font-size: 18px;
    margin: 15px 0 7px;
  }
  /* .col-6-custom {
    padding: 0 7.5px;
  } */
  .product__card {
    padding: 1.5em;
    height: calc(100% - 15px);
  }
  .product__icon img {
    width: 45px;
  }
  .h1 {
    font-size: 30px;
  }
  .product__right > .row {
    margin-bottom: 0px;
  }
  .about__left ul li a {
    text-decoration: none;
    font-size: 16px;
    line-height: 27px;
    font-weight: 600;
    color: #3f3a64;
  }
  .about__image__right > img {
    margin-bottom: 0 !important;
  }
}
@media only screen and (max-width: 384px) {
  .container-fluid {
    width: 100%;
  }

  .show .form-inline {
    right: calc(0% + 50px);
  }
  .navbar-collapse {
    top: -50%;
    left: 0;
  }
  .carousel__item__content {
    left: 16px;
    padding-right: 16px !important;
  }
  .h1 {
    font-size: 23px;
    line-height: 30px;
  }

  .services__items {
    margin-top: 0 !important;
  }
}

/* end reponsive  */
